*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    position: fixed;
    display: inline-flex;
    width: 100%;
    padding:15px;
    background-color: rgb(46, 176, 46);   
}

.header .contact{
    display: inline-flex;
    width:50%;
}

.header .register{
    width:50%;
    text-align: right;
}

a{
    text-decoration: none;
}

.header .register a{
    background-color: black;
    border-radius: 30px;
    width: 20%;
    margin-right: 80px;
    color:white;
    padding:10px 20px 10px 20px;
}

.header .register a:hover{
    background-color: red;
    border-radius: 30px;
    box-shadow: 0 0 100px yellow;
}

.logo{
    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.links{
    width: 100%;
}

.links nav{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}

.links nav ul{
    display: inline-flex;
    justify-content: center;   
}

.links nav ul li{
    list-style: none;
    margin: 0 50px;
}

.links nav ul li a{
    font-weight: 900;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
}


.links nav ul li a:hover{
    color:white;
    border-radius: 40px;
    border:2px solid black;
    padding:10px 20px 10px 20px;
    background-color: black;
    box-shadow: 0 0 80px rgb(76, 75, 75);
}




.img_logo{
    height: 200px;
}

.images{
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    display: flex;
    height: 500px;
    box-sizing: border-box;
}

.images .img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    
}

.container{
    padding-left: 150px;
    padding-right: 150px;
    display: inline-flex;
    width: 100%;
}

.container .principals{
    width: 50%;
    background-color: rgb(214, 133, 21);
    margin-top:40px;
    padding:50px;
    margin-right: 15px;
    border-radius: 10px;
    border:20px solid rgb(120, 62, 21);
    border-style: double;
    box-shadow: 0 0 100px rgb(120, 62, 21);
}

.container .principals p{
    font-size: 30px;
    border-bottom: 5px solid black;
    border-bottom-width: 5px;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom:15px;
    
}

.container .principals ul li{
    margin-bottom: 10px;
    font-size: 18px;
}
.container .about{
    width: 50%;
    background-color: chartreuse;
    margin-top:40px;
    padding-top: 40px;
    padding:25px;
    margin-left: 15px;
    border-radius: 10px;
    border:20px solid rgb(17, 125, 24);
    border-style: double;
    box-shadow: 0 0 100px rgb(37, 200, 22);
}

.container .about div p.title{
    font-size: 20px;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container .about table{
    margin-left: 15px;
    margin-top: 20px;
}

table tr td{
    padding:15px;
    padding-right: 60px;
    font-size: 18px;
}

.History{
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.History div{
    background-color: rgb(225, 231, 115);
    padding: 90px;
    box-shadow: 0 0 100px greenyellow;
}

.History div h1{
    border-bottom:5px solid black;
}

.History div p{
    margin-top:10px;
    font-size: 18px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.footer{
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
    padding:25px;
    
    background-color: rgb(0, 0, 0);
}